*{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color:#1F2833;
    color: #66fcf1;

/*     background-color:#379683;
 */    
    
    background-image: none;
    background-repeat: no-repeat;
   }
   
   
.nav-link {
    color: #45a29e !important;
}

.navbar-brand {
    color: #45a29e !important;
}