.fonas{
    background-color:#ffffff;
}

.text{
    color:black;
}

footer {
    position: absolute;
    width: 100%;
    clear: both;
    font-family:"Nunito-Regular";
    
}
html {
    position: relative;
    min-height: 100%;
}
.vl {
    border-left: 1px solid black;
    height: 100%;
    float: right;
  }
  
 
 @media (max-width: 756px) {
    .vl {
      display: none;
    }
}